<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register | CRUDZASO</title>
</head>

<body class="bg-gray-100 grid gap-3 items-center justify-center min- h-screen">
    <main class="bg-white p-8 rounded-lg shadow-md w-full max-w-md mb-3">        
        <h1 class="text-2xl font-bold mb-2 text-center">Welcome back</h1>
        <p class="text-gray-400 text-md text-center mb-5 ">Join the academic performance platform today</p>

        <form id="registerForm" class="space-y-4">
            <!-- Name input -->
            <section>
                <label for="name" class="block mb-1 font-medium">Full Name</label>
                <input type="text" id="name" placeholder="John Doe" required
                    class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-400">
            </section>

            <!-- Email input -->
            <section>
                <label for="email" class="block mb-1 font-medium">Email</label>
                <input type="email" id="email" placeholder="you@example.com" required
                    class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-400">
            </section>

            <!-- Password input -->
            <section>
                <label for="password" class="block mb-1 font-medium">Password</label>
                <input type="password" id="password" placeholder="********" required
                    class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-400">
            </section>
            <section>
                <label for="confirm" class="block mb-1 font-medium">Confirm Password</label>
                <input type="password" id="confirm" name="confirm" required placeholder="********"
                    class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-400">
            </section>
            <p id="errorMsg" class="text-red-500 text-sm"></p>
            <button type="submit" class="w-full bg-blue-700 hover:bg-blue-600 text-white p-4 rounded-xl font-medium">
                Register
            </button>
        </form>

        
        <p class="mt-4 text-center text-sm text-gray-600">
            Already have an account?
            <a href="#" id="goLogin" class="text-blue-600 font-bold hover:underline-none ">sign in</a>
        </p>
    </main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
</body>

</html>